.footer {
  background-color: #333;
  color: white;
  padding: 2vh 5vw;
  font-size: 0.9rem;
}
.footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    cursor: pointer;
}
.footer a:hover {
  font-weight: bold;
  color: #D9891E; /* Or any highlight color */
  text-decoration: underline;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
#d3{
    text-align: right;
}
.footer-bottom {
  text-align: left;
  border-top: 1px solid #555;
  padding-top: 10px;
  margin-top: 10px;
}
