.criteria-container {
  display: flex;
  justify-content: center;
  gap: 4vw;
  padding: 5vh 5vw;
  background-color: #eee;
}

.box {
  width: 50vw;
  padding: 1vh 3vw;
  background-color: #444;
  color: white;
  border-radius: 8px;
  padding-bottom: 3vh;
}

.criteria-container .box h2{
    color: #D9891E;
    font-weight: 1000;
    font-size: 2rem;
}

.criteria-container .box p{
    text-align: justify;
    font-size: 1.1rem;
}
.box-image {
  width: 100%;
  height: 50vh;
  border-radius: 8px;
  margin-top: 1vh;
  object-fit: cover;
  object-position: left center;
}
button {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 1vh 1.5vw;
  color: #D9891E;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #D9891E;
  color: white;
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1020px) {
  .criteria-container{
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }
  .box{
    width: auto;
  }
  .criteria-container .box h2{
    font-size: 1.5rem;
  }
  .criteria-container .box p{
    font-size: 0.9rem;
  }
  .box-image{
    height: auto;
    object-fit: fill;
  }
}
